<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800914133680-tqkmrmc8dg154no5kd8mqju4n00ht8ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800914133680-tqkmrmc8dg154no5kd8mqju4n00ht8ln</string>
	<key>API_KEY</key>
	<string>AIzaSyDGl_Lu7Nad4vStcACM9FI7eqN6NdXUVgE</string>
	<key>GCM_SENDER_ID</key>
	<string>800914133680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>antalyalie.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-4cda7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-4cda7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800914133680:ios:43e451bdb6eb26a9cb6175</string>
</dict>
</plist>